In [1]:
x = ["banana","apple","orange"]
print("apple" in x)

True

In [2]:
x = [10,20,30,40]
print(10 in x)

True

In [3]:
age = 19
if age>18:
    print("candidate eligible to vote")
else:
    print("not eligible")

candidate eligible to vote

In [4]:
age = int(input("age of the candidate"))
if age>=18:
    print("candidate eligible to vote")
else:
    print("not eligible")

age of the candidate18
candidate eligible to vote

In [5]:
age = int(input("age of the candidate"))
if age>=18:
    print("candidate eligible to vote")
else:
    print("not eligible")

age of the candidate18
candidate eligible to vote

## Question no = 1

In [6]:
name_of_student = input("enter the student name")
marks_in_sub_1 = int(input("enter the marks"))
marks_in_sub_2 = int(input("enter the marks"))
marks_in_sub_3 = int(input("enter the marks"))

print(name_of_student,marks_in_sub_1,marks_in_sub_2,marks_in_sub_3)

enter the student name Nidhi
enter the marks59
enter the marks 65
enter the marks 78
 Nidhi 59 65 78

In [8]:
add_Nidhi_Marks= marks_in_sub_1+marks_in_sub_2+marks_in_sub_3
print(add)

202

In [10]:
name_of_student = input("enter the student name")
marks_in_sub_01 = int(input("enter the marks"))
marks_in_sub_02 = int(input("enter the marks"))
marks_in_sub_03 = int(input("enter the marks"))
print(name_of_student,marks_in_sub_1,marks_in_sub_2,marks_in_sub_3)

enter the student name Shubh
enter the marks 78
enter the marks 89
enter the marks 69
 Shubh 45 89 78

In [11]:
add_Shubh_marks = marks_in_sub_01+marks_in_sub_02+marks_in_sub_03
print(add_Shubh_marks)

236

In [12]:
add_Shubh_marks = 236
add_Nidhi_Makrs = 202
if add_Shubh_marks == add_Nidhi_Marks:
    print("True")
else:
    print("False")

False

## Question no = 2

In [15]:
def sec_to_min(sec):
    minutes = sec/60
    return(minutes)

In [16]:
sec_to_min(2)

0.03333333333333333

In [17]:
sec_to_min(60)

1.0

In [18]:
sec_to_min(125)

2.0833333333333335

## Question no = 3

In [19]:
def km_to_m_per_sec(km):
    meter_per_sec = km*(5/18)
    return meter_per_sec

In [20]:
km_to_m_per_sec(18)

5.0

In [21]:
km_to_m_per_sec(60)

16.666666666666668

## Question = 4

In [37]:

def degree_F_to_degree_cel(Fahrenhit):
    Celcius  = (Fahrenhit-32)/1.8
    return Celcius

In [38]:
degree_F_to_degree_cel(32)

0.0

In [39]:
degree_F_to_degree_cel(98)

36.666666666666664

In [40]:
degree_F_to_degree_cel(104)

40.0

## Question = 5

In [41]:
number = int(input("enter a number"))
if number%2==0:
    print("number is even")
else:
    print("number is odd")

enter a number20
number is even

In [42]:
number = int(input("enter a number"))
if number%2==0:
    print("number is even")
else:
    print("number is odd")

enter a number13
number is odd